* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f7f8f8;
}

/* Header */

.header {
  padding: 20px 16px;
  height: auto;
  width: 100%;
  position: sticky;
  top: 0;
  background: linear-gradient(#5c8cbf, 20%, #f7f8f8);
}

.header-title {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #3f4c5e;
}

.direction-choice {
  padding: 0 16px;
}

.direction-block {
  height: 44px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 640px;
}

.direction-text {
  height: 40px;
  width: 100%;
  display: flex;
}

.direction-from-lviv,
.direction-to-lviv {
  height: 100%;
  width: 50%;
  color: #6b7885;
  font-size: 24px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.direction-from-lviv:active,
.direction-to-lviv:active {
  color: #6b7885;
  font-size: 22px;
}

.direction-text-selected {
  color: #5c8cbf;
  font-weight: 600;
}

.direction-select-animation {
  height: 4px;
  width: 100%;
  display: flex;
}

.direction-selected {
  height: 100%;
  width: 50%;
  border-radius: 4px;
  background-color: #5c8cbf;
  transition: 0.2s ease-in-out;
}

/* Таблиця */

main {
  padding: 0 32px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table-row {
  height: 60px;
  border-bottom: 1px solid #b7bdc2;
  cursor: pointer;
}

.table-number {
  width: 40%;
  font-size: 36px;
  font-weight: 900;
}

.table-time {
  width: 35%;
  font-size: 32px;
  font-weight: 400;
  color: #3f4c5e;
}

.table-note {
  font-size: 16px;
  color: #a5aaae;
}

.table-departure {
  font-size: 16px;
  color: #3f4c5e;
}

.table-departure-time {
  color: #0f1b38;
  font-size: 20px;
  font-weight: 400;
}

/* Footer */

.footer {
  height: auto;
  padding: 28px 32px;
  display: flex;
  justify-content: space-between;
  color: #3f4c5e;
  font-size: 16px;
  background: linear-gradient(#f7f8f8, 80%, #5c8cbf);
}

/* Modal */
.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 32px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #ffffffdb;
}

.modal-window {
  height: auto;
  width: 100%;
  padding: 20px;
  box-shadow: 5px 5px 10px #c8c8c8, -5px -5px 10px #f5f5f5;
  border-radius: 10px;
  background-color: #f7f8f8;
}

.modal-header {
  height: 56px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.modal-header-number {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #f7f8f8;
  border-radius: 6px;
}

.modal-header-cities {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #3f4c5e;
}

.modal-header-cities p {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.modal-content {
  min-height: 64px;
  width: 100%;
  padding-top: 20px;
  color: #0f1b38;
  border-top: 1px solid #b7bdc2;
}

.modal-note {
  max-height: 28px;
  color: #a5aaae;
  font-size: 20px;
  font-weight: 400;
}

.modal-list-block {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #0f1b38;
}

.modal-list-time,
.modal-list-city {
  min-width: 120px;
  font-size: 20px;
  font-weight: 400;
}

.modal-list-time {
  text-align: right;
}

.modal-list-marker {
  height: 16px;
  width: 16px;
  background-color: #fae9d7;
  border: 4px solid #e69138;
  border-radius: 10px;
}

.modal-close {
  width: 100%;
  height: 48px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  background-color: #5c8cbf;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  color: #f7f8f8;
  cursor: pointer;
  transition: 0.2s ease;
}

.modal-close:hover {
  background-color: #6b7885;
}

.modal-close:active {
  background-color: #3f4c5e;
  font-size: 22px;
}
