* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f7f8f8;
}

/* Header */

.header {
  padding: 20px 16px;
  height: auto;
  width: 100%;
  position: sticky;
  top: 0;
  background: linear-gradient(#5c8cbf, 20%, #f7f8f8);
}

.header-title {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #3f4c5e;
}

.direction-choice {
  padding: 0 16px;
}

.direction-block {
  height: 40px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 640px;
  display: flex;
  background-color: #b7bdc2;
  border-radius: 20px;
}

.direction-from-lviv,
.direction-to-lviv {
  height: 100%;
  width: 50%;
  border-radius: 20px;
  font-size: 24px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.direction-from-lviv:active,
.direction-to-lviv:active {
  background-color: #6b7885;
}

.direction-selected {
  background-color: #4c5a67;
  color: #f7f4f1;
  font-weight: 600;
}

/* Таблиця */

main {
  padding: 0 32px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table-row {
  height: 60px;
  border-bottom: 1px solid #b7bdc2;
}

.table-number {
  width: 40%;
  font-size: 36px;
  font-weight: 900;
}

.table-time {
  width: 35%;
  font-size: 32px;
  font-weight: 400;
  color: #3f4c5e;
}

.table-note {
  font-size: 16px;
  color: #a5aaae;
}

.table-departure {
  font-size: 16px;
  color: #3f4c5e;
}

.table-departure-time {
  color: #0f1b38;
  font-size: 20px;
  font-weight: 400;
}

/* Footer */

.footer {
  height: auto;
  padding: 28px 32px;
  display: flex;
  justify-content: space-between;
  color: #3f4c5e;
  font-size: 16px;
  background: linear-gradient(#f7f8f8, 80%, #5c8cbf);
}
